
body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}
.container {
    width: 1160px;
    margin: 0 auto;
}
/*start header*/
.header-top {
    height: 1012px;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    color: #FFFFFF;
    background: rgba(94, 93, 88, 0.6);
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 6px 18px 0;
    height: 67px;
    width: 58px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18CFAB;
}
.logo > span {
    font-size: 40px;
    font-weight: bold;
}
.header-logo {
    display: flex;
    align-items: center;
    font-size: 32px;
}
.logo-text {
    font-weight: bold;
    font-size: 32px;
    color: #18CFAB;
}
.header-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 49px;
    width: 635px;
}
.header-menu-items {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.6);
}
.header-menu-items:hover {
    box-shadow: 0 2px 0 #18CFAB;
    color: #18CFAB;
}
.header-search{
    width: 21px;
    color: rgba(255, 255, 255, 0.6);
}
/*end header*/
/*start header logo*/
.top-title {
    margin: 264px auto;
}
.top-subtitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
}
.top-subtitle > span{
    font-size: 35px;
    font-weight: bold;
    color: #18CFAB;
}
.top-subject {
    margin-top: 22px;
    text-align: center;
    text-transform: uppercase;
    font-size: 78px;
    font-weight: bold;
    color: #FFFFFF;
}
.top-text {
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 10;
    color: #D8D8D8;
}
.top-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top:133px;
}
.top-btn-left{
    margin-right: 26px;
    padding: 16px 17px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #18CFAB;
    color: #FFFFFF;
    box-shadow: 0 -5px 0 #FFFFFF;
    outline: none;
    cursor: pointer;
}
.top-btn-left:hover {
    background-color: #00CBF6;
}
.top-btn-right{
    padding: 16px 11px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #18CFAB;
    color: #FFFFFF;
    box-shadow: 0 -5px 0 #FFFFFF;
    outline: none;
    cursor: pointer;
}
.top-btn-right:hover {
    background-color: #00CBF6;
}
/*end header logo*/

/*Start icon 4 option*/
.icon {
    display: flex;
    height: 377px;
}
.icon-first {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #18cfab;
    background-color: #1C2A33;
    box-shadow: 0 -8px 0 #FFFFFF;
}
.icon-second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    background-color: #18cfab;
    color: #FFFFFF;
    box-shadow: 0 -8px 0 #FFFFFF;
}
/*End icon 4 option*/

/*Start slider service*/
.headline {
    margin: 83px auto 110px auto;
    color: #4E4E4E;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}
.headline:after {
    content: '';
    display: block;
    margin: 24px auto 0 auto;
    width: 79px;
    height: 2px;
    background-color: #18CFAB;
    box-shadow: 13px 4px 0 #18CFAB;
}
.slider-service {
    display: flex;
    margin: 69px auto 26px auto;
    text-align: center;
}
.slider {
    padding: 25px 34px;
    box-sizing: border-box;
    font-size: 15px;
    border: 1px solid #EDEFEF;
    color: #717171;
    background-color: #F8FCFE;
    cursor: pointer;
}
.slider:hover {
    border: 2px solid #18CFAB;
    transition: 0.7s;
}
.slider-tabs {
    position: relative;
    color: #FFFFFF;
    background-color: #18CFAB;
}
.slider-tabs:after, .slider-tabs:before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border: solid transparent;
}
.slider-tabs:after {
    border-color: rgba(24, 207, 171, 0);
    border-top-color: #18CFAB;
    border-width: 15px;
    margin-left: -15px;
}
.slider-content{
    display: none;
    margin-right: 90px;
    margin-bottom: 91px;
}
.active-slider-content{
    display: flex;
}
.slider-text {
    padding-left: 15px;
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #777777;
}
/*end slider service*/

/*Start Purchase now*/
.purchase{
    background-size: cover;
    background: url('../img/Sections background/section-2.jpg') no-repeat fixed center;
    height: 465px;
}
.purchase-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 126px 0 130px 0;
    background:  rgba(0, 0, 0, 0.80);
}
.purchase-img-text-big{
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color:  #18CFAB;
}
.purchase-img-text-tiny {
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 40px;
    font-weight: normal;
    color:  #D8D8D8;
}
.purchase-btn{
    margin-right: 15px;
    padding: 16px 11px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 32px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    background-color: #18cfab;
    color: #FFFFFF;
    box-shadow: 0 -5px 0 #FFFFFF;
    outline: none;
    cursor: pointer;
}
.purchase-btn:hover {
    background-color: #00cbf6;;
}
/*end Purchase now*/

/*Start Our Amazing Work*/
.amazing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 67px 0 100px 0;
    background: #E9EDEF;
}
.amazing-list{
    display: flex;
    max-width: 589px;
    width: 100%;
    justify-content: center;
    margin-bottom: 71px;
    color: #717171;

}
.amazing-list li:first-child{
    width: 100%;
    max-width: 76px;
}

.amazing-theme{
    width: 100%;
    height: 50px;
    font-size: 14px;
    line-height: 42px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #DADADA;
    cursor: pointer;
    color: #717171;
    background-color: #f8fcfe;
}
.amazing-theme:hover{
    border: 2px solid #18CFAB;
    color: #18cfab;
}
.amazing-work{
    display: flex;
    margin-bottom: 71px;
    flex-wrap: wrap;
}
.amazing-img{
    position: relative;
    width: 25%;
    height: 207px;
    box-sizing: border-box;
    overflow: hidden;
}
.amazing-img img{
    width: 100%;
    height: 100%;
}
.upload-btn {
    --pathA: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    --pathB: polygon(0.75em 0em,0.975em 0.25em,0.975em 0.45em,0.975em 0.65em,1.125em 0.8em,1.125em 1em,0.9em 1em,0.75em 1em,0.6em 1em,0.375em 1em,0.375em 0.8em,0.525em 0.65em,0.525em 0.45em,0.525em 0.25em);
    --pathC: polygon(0.75em 0em,0.975em 0.25em,0.975em 0.45em,0.975em 0.65em,1.125em 0.8em,1.125em 1em,0.9em 1em,0.75em 1.5em,0.6em 1em,0.375em 1em,0.375em 0.8em,0.525em 0.65em,0.525em 0.45em,0.525em 0.25em);
    background: #18CFAB;
    font-size: 14px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 8px 8px 45px;
    position: relative;
    transition: all 0.1s linear;
    appearance: none;
}
.upload-btn:disabled {
    cursor: not-allowed;
}
.upload-btn:not(:disabled):focus,
.upload-btn:not(:disabled):hover {
    background: #00CBF6;
}
.upload-btn:focus {
    outline: transparent;
}
.upload-btn:before,
.upload-btn:after {
    content: "";
    display: block;
    position: absolute;
}
.upload-btn:before {
    background:
            radial-gradient(0.2em 0.2em at 1.2em 0.4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.6em 0.8em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.4em 1.4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1em 1.3em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.6em 2em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1.2em 1.9em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.9em 2.3em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.4em 2.7em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1.2em 3.1em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.6em 3.3em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1em 3.7em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.4em 4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1.2em 4.7em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.8em 4.4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.3em 4.8em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 1.2em 5.4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.6em 5.8em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.4em 6.4em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1em 6.3em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 0.6em 7em,#fff 45%,#fff0 50%),
            radial-gradient(0.1em 0.1em at 1.2em 6.9em,#fff 45%,#fff0 50%),
            radial-gradient(0.2em 0.2em at 0.9em 7.3em,#fff 45%,#fff0 50%);
    background-repeat: no-repeat;
    bottom: 0;
    left: 1em;
    width: 1.5em;
    height: 10em;
}
.upload-btn:after {
    background: linear-gradient(#fff 100%,#f4b925 67%);
    clip-path: var(--pathA);
    top: 0.60em;
    left: 1em;
    width: 1.5em;
    height: 1.5em;
}
.upload-btn--running:before,
.upload-btn--done:before {
    animation: riseOnce 0.5s 0.3s linear, riseLoop 1s 0.8s linear infinite;
}
.upload-btn--running:after,
.upload-btn--done:after {
    clip-path: var(--pathC);
}
.upload-btn--running:after {
    animation: flyStart 1.3s ease-in-out, fly 2s 1.3s ease-in-out infinite;
}
.upload-btn--done:before {
    animation: riseLoop 1s 0.8s linear infinite paused;
}
.upload-btn--done:after {
    animation: flyEnd 0.8s linear forwards;
}
@keyframes riseOnce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(2.5em);
    }
}
@keyframes riseLoop {
    from {
        transform: translateY(2.5em);
    }
    to {
        transform: translateY(7.5em);
    }
}
@keyframes flyStart {
    from {
        clip-path: var(--pathA);
        transform: translateY(0);
    }
    17% {
        clip-path: var(--pathB);
        transform: translateY(0);
    }
    33% {
        clip-path: var(--pathC);
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}
@keyframes fly {
    from, to {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(3%);
    }
}
@keyframes flyEnd {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5em);
    }
}
.amazing-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 290px;
    height: 207px;
    padding: 46px 0 52px 0;
    border-top: 3px solid #18cfab;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8fcfe;
    transition: 0.4s;
    transform: translateY(-100%);
}
.amazing-links a{
    display: inline-block;
    margin: 0 1px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}
.amazing-links a:hover{
    background-color: #18cfab;
    color: #fff;
}
.amazing-info p:first-child{
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color:  #18cfab;
}
.amazing-info p:nth-child(2){
    text-transform: capitalize;
    font-size: 12px;
    color:  #8a8a8a;
}
.amazing-img:hover .amazing-hover{
    transform: translateY(0);
}
/*end Our Amazing Work*/

/*Start Breaking News*/
.news-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 84px 0 87px 0;
}
.news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.news-item{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 68px;
}
.news-img{
    height: 211px;
    overflow: hidden;
}
.news-img img{
    position: relative;
    width: 263px;
    height: 100%;
    transition: 0.4s;
}
.news-date{
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 0;
    background-color:  #203E38;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 25px;
    transition: 0.4s;
}
.news-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72px;
    padding: 13px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F4F5;
    box-sizing: border-box;
    color:  #717171;
    background-color: #F8FCFE;
    transition: 0.4s;
}
.news-info p:nth-child(2){
    font-weight: 300;
    line-height: 39px;
    font-size: 13px;
    color:  #777777;
}
.news-info p span:first-child:after{
    content: " ";
    position: relative;
    display: inline-block;
    width: 1px;
    height: 14px;
    margin: 0 10px;
    top: 2px;
    background-color: #777777;
}
.news-item:hover .news-info{
    color: #18cfab;
}
.news-item:hover .news-date{
    background-color: #18cfab;
}
.news-item:hover .news-img img{
    transform:scale(1.2);
}
/*end Breaking News*/

/*start footer*/
.footer{
    height: 108px;
    font-size: 14px;
    text-align: center;
    line-height: 108px;
    color:  #aeaeae;
    background-color:  #22353f;
}
.footer p span{
    color:  #18cfab;
}
.footer p span:nth-child(2){
    display: inline-block;
    position: relative;
    width: 1px;
    height: 14px;
    margin: 0 6px;
    transform: translateY(3px);
    background-color: #aeaeae;
}
/*end footer*/


.whatPeopleSay{
    /*height: 850px;*/
    background-image: url("../img/Sections background/section-3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentWhatPeopleSaytext{
    margin-top: 98px;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.contentWhatPeopleSaytext:after {
    content: '';
    display: block;
    margin: 24px auto 0 auto;
    width: 79px;
    height: 2px;
    background-color: #18CFAB;
    box-shadow: 13px 4px 0 #18CFAB;
}
.quotes{
    color: #18cfab;
    margin-top: 66px;
    text-align: center;
}
.classForSlickWidth{
    width: 1200px;
}
.testimonialsText{
    margin-top: 36px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #BBBBBB;
}
.testimonialsName{
    margin-top: 37px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-align: center;
    text-transform: uppercase;
}
.testimonialsPosition{
    margin-top: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    line-height: 30px;
    color: #BBBBBB;
}
.testimonialsUser{
    margin-top: 50px;
    width: 166px;
    height: 166px;
    border-radius: 50%;
    background-color: rgba(24,207,171,0.2);
    display: inline-block;
    margin-left: 500px;

}
.testimonialsUserAround{
    width: 143px;
    height: 143px;
    border-radius: 50%;
    background-color: #18CFAB;
    display: inline-block;
    margin: 12px 11px 12px 12px;
}
.blockTestimonials{
    width: 500px;
    height: 120px;
    margin-top: 55px;
    margin-bottom: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.myNawLeft{
    padding: 8px 10px 8px 10px;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    color: #BBBBBB;
}
.myNawLeft:hover{
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.myNawRight{
    margin-left: 29px;
    padding: 8px 10px 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #BBBBBB;
}
.myNawRight:hover{
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}
.classForSlick2{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
}
.testimonialsUserImgSmallBlockCircle{
    height: 71px;
    border-radius: 50%;
    margin-top: 16px;
    float: left;
    margin-left: 80px;
    cursor: pointer;
}
.contentWhatPeopleSay{
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonialsUserImgSmallBlockCircleActive{
    width: 66px;
    height: 74px;
    border-radius: 50%;
    background-color: rgba(24,207,171,0.2);
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    cursor: pointer;
}
.testimonialsUserImgSmall{
    float: left;
    margin-top: 4px;
    margin-left: 7px;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgba(24,207,171,0.2);
    outline: none;
}
.testimonialsUserImgSmall:active{
    outline: none;
}
.testimonialsUserImgSmall:focus{
    outline: none;
}
.activeBlock{
    background-color: #18cfab;
}
.slick-active .testimonialsUserImgSmall{
    margin-top: -5px;
    border: 2px solid #18cfab;
}
.slick-slide img:focus{
    outline: 0;
}

